.content{
    background:url("https://i.pinimg.com/originals/55/07/5f/55075fd97456a9ca1339d94f1ceacd27.jpg")no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header span{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}
.content-modal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-modal-img{
    position: relative;
}
.content-modal-img .img{
    width: 220px;
    border-radius: 10px;
}
.content-modal-img .img-glass{
    position: absolute;
    width: 120px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.content-modal-img .detail{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 50%;
    color: #fff;
    padding: 7px;
    height: 50%;
}
.content-modal-img .detail h1{
    font-size: 22px;
}
.content-modal-img .detail p{
    font-size: 15px;
}
.list-glass{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}
.list-glass img{
    width: 100px;
    margin: 10px 30px;
}